*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #ededed;
    background: #0a283e;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;


}
.navbar a{
    display: inline-block;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slidetop .5s ease forwards;
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(mycirclepic.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: sliderightt 1s ease forwards;

}
#frontpic{
    max-width: 500px;
    height: auto;
}
.home-content h3:nth-last-of-type(1){
    margin-bottom: 25px;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 4rem;
   font-weight: 700;
    margin-bottom: 30px;
    opacity: 0;
    animation: glow 3s ease forwards;
    
}
.home-content p{
    font-size: medium;
    opacity: 0;
    animation: slideleft 1s ease forwards;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid #0ef;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slidebot 1s ease forwards;
    animation-delay: .5s;
}
.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slidebott 1s ease forwards;
    animation-delay: .5s;
    box-shadow: 0 0 20px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 30px #0ef;
}


.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-right: 20rem;
    margin-bottom: 10rem;
}
.about-pic img{
    padding-top: 7%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-left: 80px;
    border-radius: 8px;
    
}
.about-text h2{
    margin-right: 100px;
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
#aboutme{
    margin-top: 7%;
}
.about-text h4{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    
}
#services{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 30px;
}
.service-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 600;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,1px 1px 40px #012290f7;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #0a283e;
    background: #0ef;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    font-weight: 750;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,0 0 15px #0ef;
}
.service-list div a:hover{
    
            box-shadow: 0 0 5px #0ef,0 0 30px #0ef, 0 0 100px #0ef, 0 0 200px #0ef;
        }
.service-list div:hover{
    transform: translateY(-10px);
}    















@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidetop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes sliderightt {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes glow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slidebot {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slidebott {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
